.navbar {
  // height: 80px;
  background-color: var(--primary-color);
    color: white;
    button{
      border: none;
       background-color:transparent;
    }
}
.navbar-brand{
  color: white;
}
.user {
    // border: solid salmon 2px;
  a {
    text-decoration: none;
    color: white;
  }
}
  a {
    text-decoration: none;
color: black;
  }
.log-img {
    // border: solid salmon 2px;
    margin: 0px;
    //  margin-right: 10px;
    padding: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}
.dropdown{
  //  border: solid salmon 2px;
    display: flex;
  justify-content: center;
}

.right-navbar {
  display: flex;
  justify-content: end;
  text-align: center;
  // border: solid salmon 2px;
  align-items: center;
  color: white;
  div {
    align-items: center;
  }

}
.notification{
  display: flex;
  justify-content: center;
  // border: solid salmon 2px;

}
.button-notification {
  border: none;
  background-color:transparent;
  
}

.navbar-toggler{
  color: aliceblue;
 
}
