.side-navbar{
  display: block;
  height: 100vh;
}
.img-logo{
  height: 40px;
}

.offcanvas-body{
  padding: 0px;
  margin: 0px;
}


li {
  display: flex;
  align-items: center;
  .fa {
    color: black;
    padding: 10px;
  }
  &:hover {
    background-color: rgba(0, 81, 255, 0.301);
  }
}


.footer-nav {
  margin-top: 10 px;
  padding-top: 10px;
  border-top: solid rgba(0, 0, 0, 0.274) 2px;
}

