<div class="row p-0 m-0">
  <div class="offcanvas-header col-11">
    <div class="offcanvas-title img-logo" id="offcanvasNavbarLabel">
      <img src="assets/images/logo.svg" alt="" />
    </div>
  
  </div>
  <div class="offcanvas-body col-11">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item" *ngFor="let item of listItem" [routerLink]="item.url" routerLinkActive="active-link">
        <i [class]="item.iconItem" aria-hidden="true"></i>
        <a class="nav-link">{{item.nameItem}}</a>
      </li>
  
      <div class="footer-nav">
        <li class="nav-item">
          <i class="fa fa-users" aria-hidden="true"></i>
          <a class="nav-link" aria-current="page" href="#">الأشخاص </a>
        </li>
        <li class="nav-item">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <a class="nav-link" aria-current="page" href="#">ثوابت النظام
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>