.home{
  padding: 0;
  margin: 0;
}
.laft-saction{
background-color: aliceblue;
}
.input-saerch{
  background-color: aliceblue;
  input{
    border: none;
    
  }
  
}

.form{
  height: 80%;
}



.manu{
  // height: 150;
   background-color: aliceblue;
  // margin-top: 200px;
}
.footer{
    // border:  solid saddlebrown 2px;
    background-color: aliceblue;
}
.label-option{
  font-size: 20px;
  background-color: aliceblue;
  margin-top: 10px;
  margin-bottom: 20px;
}