<div class="container-fluid home row p-0 m-0">
    <div class="right-saction col-3 p-0 m-0">
        <div class="side-nav col-12 p-0 m-0">
            <app-side-nav></app-side-nav>
        </div>
    </div>

    <div class="laft-saction col-9">
        <div class="row">
            <div class="nav-bar m-0 p-0 col-12">
                <app-nav-bar></app-nav-bar>
            </div>
        </div>
        <div class="row">
            <div class="search col-12">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="" aria-label="Search" />
                    <button class="btn btn-primary" type="submit">{{'investigation.search'|translate}}</button>
                    <label class="review" for="label">{{'investigation.browse'|translate}}</label>
                </form>
            </div>
        </div>
        <div class="row body-content">
            <div class="col-5 form">
                <div class="row input-saerch mb-5">
                    <div class="row">
                        <div class="col-2">
                            <label for="">الكود</label>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label for="">الكود المشترك 1</label>
                        </div>
                        <div class="col-7">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label for="">الكود المشترك 2</label>
                        </div>
                        <div class="col-7">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="">رقم التقرير</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="">البحث من</label>
                        </div>
                        <div class="col-2 dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2"
                                data-bs-toggle="dropdown" aria-expanded="false"></button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><input type="date"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="">الي</label>
                        </div>
                        <div class="col-2 dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2"
                                data-bs-toggle="dropdown" aria-expanded="false"></button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><input type="date"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="">البحث بكلمة</label>
                        </div>
                        <div class="col-8">
                            <input type="input" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="">الجهة</label>
                        </div>
                        <div class="col-2 dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2"
                                data-bs-toggle="dropdown" aria-expanded="false"></button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="#"></a></li>
                                <li><a class="dropdown-item" href="#"></a></li>
                                <li><a class="dropdown-item" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for=""> الموضوع</label>
                        </div>
                        <div class="col-8">
                            <input type="input" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2" />
                        </div>
                    </div>
                </div>

                <div class="row manu">
                    <div class="row">
                        <div class="col-10">
                            <label for="">النواع</label>
                        </div>
                        <div class="col-2 dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2"
                                data-bs-toggle="dropdown" aria-expanded="false"></button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="#"></a></li>
                                <li><a class="dropdown-item" href="#"></a></li>
                                <li><a class="dropdown-item" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-10">
                            <label for="">الوسيط</label>
                        </div>
                        <div class="col-2 dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2"
                                data-bs-toggle="dropdown" aria-expanded="false"></button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="#"></a></li>
                                <li><a class="dropdown-item" href="#"></a></li>
                                <li><a class="dropdown-item" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="">الأثر</label>
                        </div>
                        <div class="col-2 dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2"
                                data-bs-toggle="dropdown" aria-expanded="false"></button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="#"></a></li>
                                <li><a class="dropdown-item" href="#"></a></li>
                                <li><a class="dropdown-item" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row manu">
                    <div class="row">
                        <div class="col-10">
                            <label for="">جهة النشر </label>
                        </div>
                        <div class="col-2 dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                                aria-expanded="false"></button>
                
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="#"></a></li>
                                <li><a class="dropdown-item" href="#"></a></li>
                                <li><a class="dropdown-item" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-10">
                            <label for="">رقم العداد</label>
                        </div>
                        <div class="col-2 dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                                aria-expanded="false"></button>
                
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="#"></a></li>
                                <li><a class="dropdown-item" href="#"></a></li>
                                <li><a class="dropdown-item" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="col-7 tabl-results">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">{{'investigation.code'|translate}}</th>
                            <th scope="col">{{'investigation.side'|translate}}</th>
                            <th scope="col">{{'investigation.address'|translate}}</th>
                            <th scope="col">{{'investigation.date'|translate}}</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row label-option">
            <div class="col-6"></div>
            <div class="col-6 ">
                <label class="col-4">{{'investigation.browse'|translate}}</label>
                <label class="col-4">{{'investigation.delete'|translate}}</label>
                <label class="col-4">{{'investigation.add'|translate}}</label>
            </div>
        </div>

    </div>

    <div class="row footer">
        <div class="col-12">
            <app-footer></app-footer>
        </div>
    </div>
</div>