
.laft-saction{
background-color: aliceblue;

}
.input-saerch{
 
  background-color: aliceblue;
  input{
    border: none;
    
  }
  
}
.search{
  margin-top: 10px;
   margin-bottom: 10px;

}

.form{
 
   
    input{
        padding: 0px;
        margin: 0px;
        border: none;
    }
    .dropdown-menu{
        height: 10px;
           padding: 0px;
        margin: 0px;
        border: none;
    }
}



.manu{
  // height: 150;
   background-color: aliceblue;
  // margin-top: 200px;
}
.footer{

    // border:  solid saddlebrown 2px;
    background-color: aliceblue;
}
.label-option{
  margin-top: 60px;
 
  font-size: 20px;
  background-color: aliceblue;

}
