<div class="container-fluid home row p-0 m-0">
    <div class="right-saction col-3 p-0 m-0">
        <div class="side-nav col-12 p-0 m-0">
            <app-side-nav></app-side-nav>
        </div>
    </div>

    <div class="laft-saction col-9">
        <div class="row">
            <div class="nav-bar m-0 p-0 col-12">
                <app-nav-bar></app-nav-bar>
            </div>
        </div>
        <div class="row">
            <div class="m-0 p-0 col-12">
                <router-outlet></router-outlet>
            </div>
        </div>


    </div>

    <div class="row footer">
        <div class="col-12">
            <app-footer></app-footer>
        </div>
    </div>
</div>